In [1]:
# Install dependencies
import sys
!{sys.executable} -m pip install hdfs

Requirement already satisfied: hdfs in /opt/conda/lib/python3.8/site-packages (2.6.0)
Requirement already satisfied: docopt in /opt/conda/lib/python3.8/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.8/site-packages (from hdfs) (2.25.1)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.8/site-packages (from hdfs) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (2.10)

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

from_pathJupyter = "../work/IPMA_Distrito.xls" 

#Load sheet1 to a DataFrame and extract the important data
stationInfo = pd.read_excel(from_pathJupyter, sheet_name=0,header=16, usecols =[1, 2, 3, 4], skiprows=[17], skipfooter=0) 

print(stationInfo)
stationInfo.dtypes

    Nº da Estação                                Estações        Lat       Lon
0         1200545                   Porto - Pedras Rubras  41.233503 -8.681333
1         1200548                     Coimbra (Aeródromo)  40.157600 -8.468517
2         1200551                Viana do Castelo - Chafé  41.648875 -8.804606
3         1200554                        Faro / Aeroporto  37.016578 -7.971953
4         1200558                       Évora / Aeródromo  38.536542 -7.887958
5         1200560                       Viseu / Aeródromo  40.714928 -7.895917
6         1200562                                    Beja  38.025728 -7.867319
7         1200567                   Vila Real / Aeródromo  41.274208 -7.717114
8         1200570                          Castelo Branco  39.839500 -7.478669
9         1200571                              Portalegre  39.294183 -7.421317
10        1200575                                Bragança  41.803883 -6.742831
11        1200579                    Lisboa Gago Coutinho  38.766203 -9.127494
12        1210622                         Braga - Merelim  41.575869 -8.451108
13        1210683                                  Guarda  40.528558 -7.278675
14        1210702                   Aveiro / Universidade  40.635400 -8.659611
15        1210718                      Leiria / Aeródromo  39.780553 -8.820967
16        1210734  Santarém - Fonte Boa / Est. Zootécnica  39.201261 -8.736661
17        1210770                                Setúbal   38.548497 -8.890783

Nº da Estação      int64
Estações          object
Lat              float64
Lon              float64
dtype: object

In [8]:
#Load sheet2 to a DataFrame
avgTemperature = pd.read_excel(from_pathJupyter, sheet_name=1,header=0) 

print(avgTemperature.head(10))
avgTemperature.dtypes

    ANO  MÊS  DIA  1200545  1200548  1200551  1200554  1200558  1200560  \
0  2000    1    1      5.1      6.3   -990.0     10.8      7.0      6.9
1  2000    1    2      4.8      5.2   -990.0     10.5      7.1      6.0
2  2000    1    3      5.8      5.6   -990.0     10.4      6.2      5.6
3  2000    1    4      6.3      6.3   -990.0     11.6      6.1      6.1
4  2000    1    5      7.7      7.1   -990.0     11.4      4.9      4.3
5  2000    1    6     10.9     11.0   -990.0     14.1      9.6      7.0
6  2000    1    7      9.8      9.4   -990.0     11.2      7.8      7.3
7  2000    1    8      8.0      9.0   -990.0     10.8      8.1      7.2
8  2000    1    9      8.8      9.6   -990.0     12.4      9.3      6.5
9  2000    1   10      6.5      7.1   -990.0     10.9      5.8      3.1

   1200562  ...  1200570  1200571  1200575  1200579  1210622  1210683  \
0   -990.0  ...      5.7     10.2      1.2   -990.0   -990.0      6.1
1   -990.0  ...      6.0      8.8      0.3      8.2   -990.0      5.2
2   -990.0  ...      5.1      8.4     -1.7      7.3   -990.0      4.0
3      7.9  ...      4.7      7.8     -1.8      7.8   -990.0      3.0
4      7.8  ...      2.1      6.8      0.0      7.7   -990.0      0.8
5      9.8  ...      5.5      8.4      2.8     11.5     10.8      2.9
6      8.6  ...      7.3      9.6      1.5      9.7      7.0      5.1
7      8.8  ...      7.6      9.6      0.4      9.9      6.7      5.4
8      9.0  ...      8.3      7.8      4.1     11.4      9.1      3.7
9      6.9  ...      5.6      5.0      2.6      9.4      4.5     -0.2

   1210702  1210718  1210734  1210770
0   -990.0   -990.0      6.7      7.3
1   -990.0   -990.0      6.3      7.9
2   -990.0   -990.0   -990.0      5.5
3   -990.0   -990.0      7.0      5.0
4      8.3   -990.0      6.2      6.6
5     12.4   -990.0     10.6     11.7
6      9.8   -990.0      9.3      7.6
7      9.6   -990.0      9.0      7.4
8     10.5   -990.0     10.7     11.4
9      8.9   -990.0      8.4      8.9

[10 rows x 21 columns]

ANO          int64
MÊS          int64
DIA          int64
1200545    float64
1200548    float64
1200551    float64
1200554    float64
1200558    float64
1200560    float64
1200562    float64
1200567    float64
1200570    float64
1200571    float64
1200575    float64
1200579    float64
1210622    float64
1210683    float64
1210702    float64
1210718    float64
1210734    float64
1210770    float64
dtype: object

In [7]:
#Load sheet3 to a DataFrame
maxTemperature = pd.read_excel(from_pathJupyter, sheet_name=2,header=0) 

print(maxTemperature.head(10))
maxTemperature.dtypes

    ANO  MÊS  DIA  1200545  1200548  1200551  1200554  1200558  1200560  \
0  2000    1    1     10.8     12.3   -990.0     14.8     14.6     12.2
1  2000    1    2     11.5     11.6   -990.0     14.9     14.2     12.4
2  2000    1    3     11.9     12.6   -990.0     15.0     13.3     10.8
3  2000    1    4     12.1     12.7   -990.0     16.3     13.4     11.1
4  2000    1    5     13.4     12.2   -990.0     14.7     10.4      9.7
5  2000    1    6     15.3     14.5   -990.0     16.0     14.0     13.1
6  2000    1    7     15.7     15.8   -990.0     16.0     15.1     13.2
7  2000    1    8     11.7     14.8   -990.0     15.9     14.8     11.4
8  2000    1    9     13.0     12.7   -990.0     16.3     13.0     10.4
9  2000    1   10     12.8     11.4   -990.0     15.0     11.6      7.4

   1200562  ...  1200570  1200571  1200575  1200579  1210622  1210683  \
0   -990.0  ...     11.7     14.4      9.1     12.1   -990.0     10.9
1   -990.0  ...     11.3     11.7      7.9     12.7   -990.0      9.7
2     14.3  ...      9.8     13.2     -0.7     11.4   -990.0      6.9
3     13.4  ...      9.4     12.5     -0.2     11.4   -990.0      7.0
4     11.8  ...      3.3     11.0      1.9     11.3   -990.0      2.6
5     13.6  ...      9.0     12.5      6.3     15.2     15.8      4.5
6     14.7  ...     12.8     14.0      8.9     13.2     16.2      9.1
7     14.6  ...     13.1     12.9      2.2     15.2     10.5      8.6
8     13.3  ...     12.0     11.1     11.4     13.8     12.3      5.6
9     11.5  ...     10.3      8.4      7.8     12.3     13.4      3.0

   1210702  1210718  1210734  1210770
0   -990.0   -990.0   -990.0     13.1
1   -990.0   -990.0   -990.0     14.0
2   -990.0   -990.0   -990.0     14.6
3   -990.0   -990.0     13.2     15.4
4     13.8   -990.0     11.3     15.5
5     16.2   -990.0     15.6     16.2
6     14.4   -990.0     15.5     15.9
7     15.4   -990.0     16.6     16.2
8     13.5   -990.0     14.2     15.1
9     13.3   -990.0     13.3     13.6

[10 rows x 21 columns]

ANO          int64
MÊS          int64
DIA          int64
1200545    float64
1200548    float64
1200551    float64
1200554    float64
1200558    float64
1200560    float64
1200562    float64
1200567    float64
1200570    float64
1200571    float64
1200575    float64
1200579    float64
1210622    float64
1210683    float64
1210702    float64
1210718    float64
1210734    float64
1210770    float64
dtype: object

In [9]:
#Load sheet4 to a DataFrame
minTemperature = pd.read_excel(from_pathJupyter, sheet_name=3,header=0) 

print(minTemperature.head(10))
minTemperature.dtypes

    ANO  MÊS  DIA  1200545  1200548  1200551  1200554  1200558  1200560  \
0  2000    1    1      1.2      1.7   -990.0      5.7      1.1      3.2
1  2000    1    2      1.0     -0.4   -990.0      6.2      2.0      1.5
2  2000    1    3      2.5      1.0   -990.0      5.5      1.0      1.9
3  2000    1    4      2.5      1.3   -990.0      8.4     -0.3      2.7
4  2000    1    5      3.3      1.6   -990.0      8.2     -0.7      0.0
5  2000    1    6      8.4      6.7   -990.0      9.8      6.2      4.1
6  2000    1    7      6.5      5.3   -990.0      6.6      2.4      3.3
7  2000    1    8      5.6      3.8   -990.0      5.5      1.1      4.8
8  2000    1    9      4.4      5.2   -990.0      8.6      4.0      3.3
9  2000    1   10      1.2      4.0   -990.0      7.8      1.8      0.8

   1200562  ...  1200570  1200571  1200575  1200579  1210622  1210683  \
0   -990.0  ...     -0.2      7.1     -4.1   -990.0   -990.0      3.3
1   -990.0  ...      0.8      6.9     -4.2      4.9   -990.0      2.0
2   -990.0  ...      0.1      5.7     -3.0      3.5   -990.0      1.3
3      3.7  ...      0.8      5.5     -2.9      4.4   -990.0      0.8
4      3.5  ...     -0.3      4.5     -1.3      3.7   -990.0     -0.2
5      7.1  ...      3.2      7.0     -0.1      8.2      4.8      0.5
6      4.1  ...      3.2      6.2     -2.7      7.1      1.1      2.4
7      4.2  ...      3.1      7.8     -1.4      5.0      1.8      3.0
8      6.0  ...      4.9      5.0      1.0      9.7      3.3      0.4
9      3.1  ...      2.8      2.8     -1.6      7.4     -1.7     -2.3

   1210702  1210718  1210734  1210770
0   -990.0   -990.0      1.9      3.3
1   -990.0   -990.0      2.1      1.6
2   -990.0   -990.0   -990.0     -0.6
3   -990.0   -990.0      2.5     -0.6
4      3.1   -990.0      2.2     -1.3
5      8.9   -990.0      7.1      5.4
6      5.2   -990.0      5.2      1.9
7      5.7   -990.0      2.1      0.1
8      5.4   -990.0      7.0      8.5
9      4.6   -990.0      4.8      5.8

[10 rows x 21 columns]

ANO          int64
MÊS          int64
DIA          int64
1200545    float64
1200548    float64
1200551    float64
1200554    float64
1200558    float64
1200560    float64
1200562    float64
1200567    float64
1200570    float64
1200571    float64
1200575    float64
1200579    float64
1210622    float64
1210683    float64
1210702    float64
1210718    float64
1210734    float64
1210770    float64
dtype: object

In [10]:
#Load sheet5 to a DataFrame
rainQty = pd.read_excel(from_pathJupyter, sheet_name=4,header=0) 

print(rainQty.head(10))
rainQty.dtypes

    ANO  MÊS  DIA  1200545  1200548  1200551  1200554  1200558  1200560  \
0  2000    1    1      0.0      0.0   -990.0      0.0      0.0      0.0
1  2000    1    2      0.1      0.0   -990.0      0.0      0.0      0.0
2  2000    1    3      0.0      0.0   -990.0      0.0      0.0      0.0
3  2000    1    4      0.0      0.0   -990.0      0.0      0.1      0.0
4  2000    1    5      0.0      0.0   -990.0      0.0      0.1      0.0
5  2000    1    6      0.1      0.0   -990.0      0.0      0.0      0.0
6  2000    1    7      0.0      0.0   -990.0      0.0      0.0      0.0
7  2000    1    8      7.3      0.0   -990.0      0.0      0.0      0.0
8  2000    1    9      0.4      1.4   -990.0      0.0      0.0      0.0
9  2000    1   10      0.0      0.0   -990.0      0.0      0.0      0.0

   1200562  ...  1200570  1200571  1200575  1200579  1210622  1210683  \
0   -990.0  ...      0.0      0.0      0.0   -990.0   -990.0      0.0
1   -990.0  ...      0.0      0.0      0.0      0.0   -990.0      0.0
2   -990.0  ...      0.0      0.0      0.0      0.0   -990.0      0.0
3      0.0  ...      0.0      0.0      0.0      0.0   -990.0      0.0
4      0.0  ...      0.1      0.0      0.0      0.0   -990.0      0.0
5      0.6  ...      0.0   -990.0      0.0      1.5      0.0      0.2
6      0.0  ...      0.0      0.0      0.0      0.0      0.0   -990.0
7      0.0  ...      0.0      0.0      0.2      0.0      3.7      0.0
8      0.0  ...      0.0      0.0      0.0      0.1      0.2      1.9
9      0.0  ...   -990.0      0.0      0.0      0.0      0.0      0.0

   1210702  1210718  1210734  1210770
0   -990.0   -990.0   -990.0      0.0
1   -990.0   -990.0   -990.0      0.0
2   -990.0   -990.0   -990.0      0.0
3   -990.0   -990.0   -990.0      0.0
4      0.0   -990.0   -990.0      0.0
5      0.0   -990.0   -990.0      0.0
6      0.0   -990.0      0.0      0.0
7      5.4   -990.0      1.7      0.0
8      1.0   -990.0      0.1      0.4
9      0.0   -990.0      0.0      0.0

[10 rows x 21 columns]

ANO          int64
MÊS          int64
DIA          int64
1200545    float64
1200548    float64
1200551    float64
1200554    float64
1200558    float64
1200560    float64
1200562    float64
1200567    float64
1200570    float64
1200571    float64
1200575    float64
1200579    float64
1210622    float64
1210683    float64
1210702    float64
1210718    float64
1210734    float64
1210770    float64
dtype: object

In [11]:
#Load sheet5 to a DataFrame
radiationTotal = pd.read_excel(from_pathJupyter, sheet_name=5,header=0) 

print(radiationTotal.head(10))
radiationTotal.dtypes

    ANO  MÊS  DIA  1200545  1200548  1200551  1200554  1200558  1200560  \
0  2000    1    1   -990.0   -990.0   -990.0   -990.0  10526.9   8832.9
1  2000    1    2   -990.0   -990.0   -990.0   -990.0  10604.5   9587.2
2  2000    1    3   -990.0   -990.0   -990.0   -990.0  10205.6   9469.1
3  2000    1    4   -990.0   -990.0   -990.0   -990.0  10122.8   9364.3
4  2000    1    5   -990.0   -990.0   -990.0   -990.0   8037.8   8676.6
5  2000    1    6   -990.0   -990.0   -990.0   -990.0   5250.5   7754.8
6  2000    1    7   -990.0   -990.0   -990.0   -990.0  10800.7   9301.4
7  2000    1    8   -990.0   -990.0   -990.0   -990.0   -990.0   5479.7
8  2000    1    9   -990.0   -990.0   -990.0   -990.0   7046.3   -990.0
9  2000    1   10   -990.0   -990.0   -990.0   -990.0  11147.0   -990.0

   1200562  ...  1200570  1200571  1200575  1200579  1210622  1210683  \
0   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   -990.0
1   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   9934.8
2   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   9652.4
3   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   9644.2
4   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   2606.8
5   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   3018.2
6   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   -990.0
7   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   -990.0
8   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   -990.0
9   -990.0  ...   -990.0   -990.0   -990.0   -990.0   -990.0   -990.0

   1210702  1210718  1210734  1210770
0   -990.0   -990.0   -990.0   -990.0
1   -990.0   -990.0   -990.0   -990.0
2   -990.0   -990.0   -990.0   -990.0
3   -990.0   -990.0   -990.0   -990.0
4   -990.0   -990.0   -990.0   -990.0
5   -990.0   -990.0   -990.0   -990.0
6   -990.0   -990.0   -990.0   -990.0
7   -990.0   -990.0   -990.0   -990.0
8   -990.0   -990.0   -990.0   -990.0
9   -990.0   -990.0   -990.0   -990.0

[10 rows x 21 columns]

ANO          int64
MÊS          int64
DIA          int64
1200545    float64
1200548    float64
1200551    float64
1200554    float64
1200558    float64
1200560    float64
1200562    float64
1200567    float64
1200570    float64
1200571    float64
1200575    float64
1200579    float64
1210622    float64
1210683    float64
1210702    float64
1210718    float64
1210734    float64
1210770    float64
dtype: object

In [12]:
from pathlib import Path

to_pathJupyter = Path("""../work/Datasets""")

#save dataFramestoCsv
stationInfoCsv = stationInfo.to_csv(to_pathJupyter/"stationsInfo.csv", sep=',', header=True, index=False, mode='w', encoding="utf-8")
avgTemperatureCsv = avgTemperature.to_csv(to_pathJupyter/"avgTemperature.csv", sep=',', header=True, index=False, mode='w', decimal='.', encoding="utf-8")
maxTemperatureCsv = maxTemperature.to_csv(to_pathJupyter/"maxTemperature.csv", sep=',', header=True, index=False, mode='w', decimal='.', encoding="utf-8")
minTemperatureCsv = minTemperature.to_csv(to_pathJupyter/"minTemperature.csv", sep=',', header=True, index=False, mode='w', decimal='.', encoding="utf-8")
rainQtyCsv =        rainQty.to_csv(to_pathJupyter/"rainQty.csv", sep=',', header=True, index=False, mode='w', decimal='.', encoding="utf-8")
radiationTotalCsv = radiationTotal.to_csv(to_pathJupyter/"radiationTotal.csv", sep=',', header=True, index=False, mode='w', decimal='.', encoding="utf-8")

In [13]:
# Copy File to bronze layer
from hdfs import InsecureClient
client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "../work/Datasets/" 
to_path = "/project_tabd/bronze/csvFiles/weather/"
client.delete(to_path)

client.upload(to_path, from_path)

# More HDFS functions here if needed (e.g., write, list files, delete files, rename, delete, etc...)
# https://hdfscli.readthedocs.io/en/latest/quickstart.html

'/project_tabd/bronze/csvFiles/weather'