In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/warehouse'

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration TABD project") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [4]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [3]:
spark.sql(
    """
    DROP DATABASE IF EXISTS project_tabd CASCADE
    """
)

DataFrame[]

In [5]:
# you can choose any location in HDFS, just be organized 
# Your data lake will grow with time and will become a swamp
spark.sql(
    """
    CREATE DATABASE project_tabd LOCATION 'hdfs://hdfs-nn:9000/warehouse/tabd.db/'
    """
)

DataFrame[]

In [6]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+------------+
|   namespace|
+------------+
|     default|
|project_tabd|
+------------+

In [7]:
spark.sql(
    """
    SHOW TABLES FROM project_tabd
    """
).show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [9]:
spark.sql(
    """
    DROP TABLE IF EXISTS project_tabd.parquet_table_weather
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE project_tabd.parquet_table_weather (
        date DATE,
        month INT,
        day INT,
        station_id VARCHAR(15),
        station_name VARCHAR(100),
        latitude DOUBLE,
        longitude DOUBLE,
        air_temperature_avg DOUBLE,
        air_temperature_min DOUBLE,
        air_temperature_max DOUBLE,
        global_radiation_total DOUBLE,
        rain_precipitation_qty DOUBLE        
               
    )
    STORED AS PARQUET
    PARTITIONED BY (
        year INT
    )
    LOCATION 'hdfs://hdfs-nn:9000/warehouse/tabd.db/parquet_table_weather/'
    """
)

DataFrame[]

In [10]:
spark.sql(
    """
    DESCRIBE FORMATTED project_tabd.parquet_table_weather
    """
).toPandas()

,col_name,data_type,comment
0,date,date,None
1,month,int,None
2,day,int,None
3,station_id,varchar(15),None
4,station_name,varchar(100),None
5,latitude,double,None
6,longitude,double,None
7,air_temperature_avg,double,None
8,air_temperature_min,double,None
9,air_temperature_max,double,None
10,global_radiation_total,double,None
11,rain_precipitation_qty,double,None
12,year,int,None
13,# Partition Information,,
14,# col_name,data_type,comment
15,year,int,None
16,,,
17,# Detailed Table Information,,
18,Database,project_tabd,
19,Table,parquet_table_weather,
20,Owner,jovyan,
21,Created Time,Sat Jun 05 17:47:36 UTC 2021,
22,Last Access,UNKNOWN,
23,Created By,Spark 3.1.1,
24,Type,EXTERNAL,
25,Provider,hive,
26,Table Properties,[transient_lastDdlTime=1622915256],
27,Location,hdfs://hdfs-nn:9000/warehouse/tabd.db/parquet_...,
28,Serde Library,org.apache.hadoop.hive.ql.io.parquet.serde.Par...,
29,InputFormat,org.apache.hadoop.hive.ql.io.parquet.MapredPar...,
30,OutputFormat,org.apache.hadoop.hive.ql.io.parquet.MapredPar...,
31,Storage Properties,[serialization.format=1],
32,Partition Provider,Catalog,

In [11]:
spark.sql(
    """
    SHOW TABLES FROM project_tabd
    """
).show()

+------------+--------------------+-----------+
|    database|           tableName|isTemporary|
+------------+--------------------+-----------+
|project_tabd|parquet_table_wea...|      false|
+------------+--------------------+-----------+

In [14]:
# recover partitions is needed so that the Hive Metastore (Catalog)
# is updated. Otherwise Hive and the querying engines do not know
# that there are new parittions in the partitioned table.
spark.catalog.recoverPartitions("project_tabd.parquet_table_weather")

spark.sql(
    """
    SELECT *
    FROM project_tabd.parquet_table_weather
    """
).show()

+----------+-----+---+----------+--------------------+-----------+-----------+-------------------+-------------------+-------------------+----------------------+----------------------+----+
|      date|month|day|station_id|        station_name|   latitude|  longitude|air_temperature_avg|air_temperature_min|air_temperature_max|global_radiation_total|rain_precipitation_qty|year|
+----------+-----+---+----------+--------------------+-----------+-----------+-------------------+-------------------+-------------------+----------------------+----------------------+----+
|2006-01-01|    1|  1|   1200545|Porto - Pedras Ru...|41.23350278|-8.68133333|               11.1|                6.9|               14.3|                6267.1|                   0.7|2006|
|2006-01-01|    1|  1|   1200548| Coimbra (Aeródromo)|    40.1576|-8.46851667|               10.0|                8.6|               12.7|                5513.9|                   2.3|2006|
|2006-01-01|    1|  1|   1200551|Viana do Castelo ...|  41.648875|-8.80460556|             -990.0|             -990.0|             -990.0|                -990.0|                -990.0|2006|
|2006-01-01|    1|  1|   1200554|    Faro / Aeroporto|37.01657778|-7.97195278|               12.4|                9.2|               16.2|                8320.6|                   0.4|2006|
|2006-01-01|    1|  1|   1200558|   Évora / Aeródromo|38.53654167|-7.88795833|                9.8|                6.9|               13.7|                7898.6|                   0.0|2006|
|2006-01-01|    1|  1|   1200560|   Viseu / Aeródromo|40.71492778|-7.89591667|                6.2|                4.4|                8.5|                -990.0|                   1.2|2006|
|2006-01-01|    1|  1|   1200562|                Beja|38.02572778|-7.86731944|                9.9|                7.6|               13.6|                9858.8|                   0.0|2006|
|2006-01-01|    1|  1|   1200567|Vila Real / Aeród...|41.27420833|-7.71711389|                7.5|                6.0|               10.4|                4874.7|                   0.1|2006|
|2006-01-01|    1|  1|   1200570|      Castelo Branco|    39.8395|-7.47866944|                9.3|                6.6|               12.4|                6343.8|                   0.1|2006|
|2006-01-01|    1|  1|   1200571|          Portalegre|39.29418333|-7.42131667|                7.5|                5.6|               11.4|                8525.4|                   0.2|2006|
|2006-01-01|    1|  1|   1200575|            Bragança|41.80388333|-6.74283056|                6.0|                4.9|                8.0|                6663.1|                   0.0|2006|
|2006-01-01|    1|  1|   1200579|Lisboa Gago Coutinho|38.76620278|-9.12749444|             -990.0|             -990.0|             -990.0|                -990.0|                -990.0|2006|
|2006-01-01|    1|  1|   1210622|     Braga - Merelim|41.57586944|-8.45110833|             -990.0|             -990.0|               12.9|                -990.0|                -990.0|2006|
|2006-01-01|    1|  1|   1210683|              Guarda|40.52855833|  -7.278675|             -990.0|             -990.0|                5.7|                -990.0|                -990.0|2006|
|2006-01-01|    1|  1|   1210702|Aveiro / Universi...|    40.6354|-8.65961111|               12.0|                9.6|               14.2|                5170.2|                   3.6|2006|
|2006-01-01|    1|  1|   1210718|  Leiria / Aeródromo|39.78055278|-8.82096667|             -990.0|             -990.0|             -990.0|                -990.0|                -990.0|2006|
|2006-01-01|    1|  1|   1210734|Santarém - Fonte ...|39.20126111|-8.73666111|               11.1|                8.9|               14.6|                5471.6|                   0.9|2006|
|2006-01-01|    1|  1|   1210770|            Setúbal |38.54849722|-8.89078333|               12.1|                8.8|               16.1|                7940.8|                   0.3|2006|
|2006-01-02|    1|  2|   1200545|Porto - Pedras Ru...|41.23350278|-8.68133333|               10.2|                6.5|               14.4|                6775.8|                   0.0|2006|
|2006-01-02|    1|  2|   1200548| Coimbra (Aeródromo)|    40.1576|-8.46851667|                9.6|                6.4|               13.4|                9385.4|                   0.0|2006|
+----------+-----+---+----------+--------------------+-----------+-----------+-------------------+-------------------+-------------------+----------------------+----------------------+----+
only showing top 20 rows

In [21]:
spark.sql(
    """
    SELECT air_temperature_max, date,station_id,station_name
    FROM project_tabd.parquet_table_weather
    WHERE station_id="1200545" and year=2000
    """
).toPandas()

     air_temperature_max        date station_id           station_name
0                   10.8  2000-01-01    1200545  Porto - Pedras Rubras
1                   11.5  2000-01-02    1200545  Porto - Pedras Rubras
2                   11.9  2000-01-03    1200545  Porto - Pedras Rubras
3                   12.1  2000-01-04    1200545  Porto - Pedras Rubras
4                   13.4  2000-01-05    1200545  Porto - Pedras Rubras
..                   ...         ...        ...                    ...
361                 13.1  2000-12-27    1200545  Porto - Pedras Rubras
362                 15.5  2000-12-28    1200545  Porto - Pedras Rubras
363               -990.0  2000-12-29    1200545  Porto - Pedras Rubras
364               -990.0  2000-12-30    1200545  Porto - Pedras Rubras
365                 15.1  2000-12-31    1200545  Porto - Pedras Rubras

[366 rows x 4 columns]

In [12]:
# Let's look into HDFS

In [13]:
# Let's put the files into HDFS

In [14]:
spark.stop()