In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/warehouse'

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration TABD project") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [2]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+------------+
|   namespace|
+------------+
|     default|
|project_tabd|
+------------+

In [3]:
spark.sql(
    """
    DROP DATABASE IF EXISTS project_tabd CASCADE
    """
)

DataFrame[]

In [5]:
# you can choose any location in HDFS, just be organized 
# Your data lake will grow with time and will become a swamp
spark.sql(
    """
    CREATE DATABASE project_tabd LOCATION 'hdfs://hdfs-nn:9000/warehouse/tabd.db/'
    """
)

DataFrame[]

In [3]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+------------+
|   namespace|
+------------+
|     default|
|project_tabd|
+------------+

In [3]:
spark.sql(
    """
    SHOW TABLES FROM project_tabd
    """
).show()

+------------+--------------------+-----------+
|    database|           tableName|isTemporary|
+------------+--------------------+-----------+
|project_tabd|parquet_table_wea...|      false|
|project_tabd|parquet_table_wea...|      false|
+------------+--------------------+-----------+

In [4]:
spark.sql(
    """
    DROP TABLE IF EXISTS project_tabd.parquet_table_weather_gold
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE project_tabd.parquet_table_weather_gold (
        date DATE,
        month INT,
        day INT,
        station_id VARCHAR(15),
        station_name VARCHAR(100),
        latitude DOUBLE,
        longitude DOUBLE,
        air_temperature_avg DOUBLE,
        air_temperature_min DOUBLE,
        air_temperature_max DOUBLE,
        global_radiation_total DOUBLE,
        rain_precipitation_qty DOUBLE,
        country VARCHAR(50),
        city VARCHAR(50),
        day_of_year INT,
        season VARCHAR(15)
        
               
    )
    STORED AS PARQUET
    PARTITIONED BY (
        year INT
    )
    LOCATION 'hdfs://hdfs-nn:9000/warehouse/tabd.db/parquet_table_weather_gold/'
    """
)

DataFrame[]

In [5]:
spark.sql(
    """
    DESCRIBE FORMATTED project_tabd.parquet_table_weather_gold
    """
).toPandas()

,col_name,data_type,comment
0,date,date,None
1,month,int,None
2,day,int,None
3,station_id,varchar(15),None
4,station_name,varchar(100),None
5,latitude,double,None
6,longitude,double,None
7,air_temperature_avg,double,None
8,air_temperature_min,double,None
9,air_temperature_max,double,None
10,global_radiation_total,double,None
11,rain_precipitation_qty,double,None
12,country,varchar(50),None
13,city,varchar(50),None
14,day_of_year,int,None
15,season,varchar(15),None
16,year,int,None
17,# Partition Information,,
18,# col_name,data_type,comment
19,year,int,None
20,,,
21,# Detailed Table Information,,
22,Database,project_tabd,
23,Table,parquet_table_weather_gold,
24,Owner,jovyan,
25,Created Time,Sun Jun 06 12:28:58 UTC 2021,
26,Last Access,UNKNOWN,
27,Created By,Spark 3.1.1,
28,Type,EXTERNAL,
29,Provider,hive,
30,Table Properties,[transient_lastDdlTime=1622982538],
31,Location,hdfs://hdfs-nn:9000/warehouse/tabd.db/parquet_...,
32,Serde Library,org.apache.hadoop.hive.ql.io.parquet.serde.Par...,
33,InputFormat,org.apache.hadoop.hive.ql.io.parquet.MapredPar...,
34,OutputFormat,org.apache.hadoop.hive.ql.io.parquet.MapredPar...,
35,Storage Properties,[serialization.format=1],
36,Partition Provider,Catalog,

In [6]:
spark.sql(
    """
    SHOW TABLES FROM project_tabd
    """
).show()

+------------+--------------------+-----------+
|    database|           tableName|isTemporary|
+------------+--------------------+-----------+
|project_tabd|parquet_table_wea...|      false|
|project_tabd|parquet_table_wea...|      false|
+------------+--------------------+-----------+

In [7]:
# recover partitions is needed so that the Hive Metastore (Catalog)
# is updated. Otherwise Hive and the querying engines do not know
# that there are new parittions in the partitioned table.
spark.catalog.recoverPartitions("project_tabd.parquet_table_weather_gold")

spark.sql(
    """
    SELECT *
    FROM project_tabd.parquet_table_weather_gold
    """
).show()

+----------+-----+---+----------+--------------------+-----------+-----------+-------------------+-------------------+-------------------+----------------------+----------------------+--------+----------------+-----------+-------+----+
|      date|month|day|station_id|        station_name|   latitude|  longitude|air_temperature_avg|air_temperature_min|air_temperature_max|global_radiation_total|rain_precipitation_qty| country|            city|day_of_year| season|year|
+----------+-----+---+----------+--------------------+-----------+-----------+-------------------+-------------------+-------------------+----------------------+----------------------+--------+----------------+-----------+-------+----+
|2006-01-01|    1|  1|   1200545|Porto - Pedras Ru...|41.23350278|-8.68133333|               11.1|                6.9|               14.3|                6267.1|                   0.7|Portugal|           Porto|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200548| Coimbra (Aeródromo)|    40.1576|-8.46851667|               10.0|                8.6|               12.7|                5513.9|                   2.3|Portugal|         Coimbra|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200551|Viana do Castelo ...|  41.648875|-8.80460556|             -990.0|             -990.0|             -990.0|                -990.0|                -990.0|Portugal|Viana do Castelo|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200554|    Faro / Aeroporto|37.01657778|-7.97195278|               12.4|                9.2|               16.2|                8320.6|                   0.4|Portugal|            Faro|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200558|   Évora / Aeródromo|38.53654167|-7.88795833|                9.8|                6.9|               13.7|                7898.6|                   0.0|Portugal|           Évora|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200560|   Viseu / Aeródromo|40.71492778|-7.89591667|                6.2|                4.4|                8.5|                -990.0|                   1.2|Portugal|           Viseu|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200562|                Beja|38.02572778|-7.86731944|                9.9|                7.6|               13.6|                9858.8|                   0.0|Portugal|            Beja|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200567|Vila Real / Aeród...|41.27420833|-7.71711389|                7.5|                6.0|               10.4|                4874.7|                   0.1|Portugal|       Vila Real|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200570|      Castelo Branco|    39.8395|-7.47866944|                9.3|                6.6|               12.4|                6343.8|                   0.1|Portugal|  Castelo Branco|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200571|          Portalegre|39.29418333|-7.42131667|                7.5|                5.6|               11.4|                8525.4|                   0.2|Portugal|      Portalegre|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200575|            Bragança|41.80388333|-6.74283056|                6.0|                4.9|                8.0|                6663.1|                   0.0|Portugal|        Bragança|          1|Inverno|2006|
|2006-01-01|    1|  1|   1200579|Lisboa Gago Coutinho|38.76620278|-9.12749444|             -990.0|             -990.0|             -990.0|                -990.0|                -990.0|Portugal|          Lisboa|          1|Inverno|2006|
|2006-01-01|    1|  1|   1210622|     Braga - Merelim|41.57586944|-8.45110833|             -990.0|             -990.0|               12.9|                -990.0|                -990.0|Portugal|           Braga|          1|Inverno|2006|
|2006-01-01|    1|  1|   1210683|              Guarda|40.52855833|  -7.278675|             -990.0|             -990.0|                5.7|                -990.0|                -990.0|Portugal|          Guarda|          1|Inverno|2006|
|2006-01-01|    1|  1|   1210702|Aveiro / Universi...|    40.6354|-8.65961111|               12.0|                9.6|               14.2|                5170.2|                   3.6|Portugal|          Aveiro|          1|Inverno|2006|
|2006-01-01|    1|  1|   1210718|  Leiria / Aeródromo|39.78055278|-8.82096667|             -990.0|             -990.0|             -990.0|                -990.0|                -990.0|Portugal|          Leiria|          1|Inverno|2006|
|2006-01-01|    1|  1|   1210734|Santarém - Fonte ...|39.20126111|-8.73666111|               11.1|                8.9|               14.6|                5471.6|                   0.9|Portugal|        Santarém|          1|Inverno|2006|
|2006-01-01|    1|  1|   1210770|            Setúbal |38.54849722|-8.89078333|               12.1|                8.8|               16.1|                7940.8|                   0.3|Portugal|         Setúbal|          1|Inverno|2006|
|2006-01-02|    1|  2|   1200545|Porto - Pedras Ru...|41.23350278|-8.68133333|               10.2|                6.5|               14.4|                6775.8|                   0.0|Portugal|           Porto|          2|Inverno|2006|
|2006-01-02|    1|  2|   1200548| Coimbra (Aeródromo)|    40.1576|-8.46851667|                9.6|                6.4|               13.4|                9385.4|                   0.0|Portugal|         Coimbra|          2|Inverno|2006|
+----------+-----+---+----------+--------------------+-----------+-----------+-------------------+-------------------+-------------------+----------------------+----------------------+--------+----------------+-----------+-------+----+
only showing top 20 rows

In [9]:
spark.sql(
    """
    SELECT station_name, date,country,city, season
    FROM project_tabd.parquet_table_weather_gold

    """
).toPandas()

,station_name,date,country,city,season
0,Porto - Pedras Rubras,2006-01-01,Portugal,Porto,Inverno
1,Coimbra (Aeródromo),2006-01-01,Portugal,Coimbra,Inverno
2,Viana do Castelo - Chafé,2006-01-01,Portugal,Viana do Castelo,Inverno
3,Faro / Aeroporto,2006-01-01,Portugal,Faro,Inverno
4,Évora / Aeródromo,2006-01-01,Portugal,Évora,Inverno
...,...,...,...,...,...
138073,Guarda,2000-12-31,Portugal,Guarda,Inverno
138074,Aveiro / Universidade,2000-12-31,Portugal,Aveiro,Inverno
138075,Leiria / Aeródromo,2000-12-31,Portugal,Leiria,Inverno
138076,Santarém - Fonte Boa / Est. Zootécnica,2000-12-31,Portugal,Santarém,Inverno
138077,Setúbal,2000-12-31,Portugal,Setúbal,Inverno

In [12]:
# Let's look into HDFS

In [13]:
# Let's put the files into HDFS

In [10]:
spark.stop()